<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="block-heading">
                <!-- Start: Pretty Search Form -->
                <form class="text-center d-inline-block float-none search-form" style="margin: 0;margin-top: 0px;margin-bottom: 0px;" method="get">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <input class="form-control" type="text" placeholder="Tìm kiếm....." style="max-width: 200px;">
                        <div class="input-group-append">
                            <button class="btn btn-light" type="button" style="opacity: 1;">Search </button>
                        </div>
                    </div>
                </form>
                <!-- End: Pretty Search Form -->
                <!-- Search Nâng cao -->
                <div align="center" style="margin: 30px 0 20px 0;">
                    <table>
                        <tr>
                            <td>Phân loại </td>
                            <td>
                                <form method="get">
                                    <select style="width: 8em;">
                                        <option name="Doxa">Doxa</option>
                                    </select>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>Giá từ : </td>
                            <td><input type="text" name="giatu"></td>
                        </tr>
                        <tr>
                            <td>Giá đến :</td>
                            <td><input type="text" name="giaden"></td>
                        </tr>
                    </table>
                </div>
                <button class="btn btn-primary" type="button" style="background-color: rgba(141,145,127,0.7);">
                    Tìm kiếm
                </button>
            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item active"><b>Đồng Hồ Nam</b></li>
                    <li class="list-group-item">Second item</li>
                    <li class="list-group-item active"><b>Đồng Hồ Nữ</b></li>
                    <li class="list-group-item">Third item</li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block" src="img/candino1.png">
                        <div class="card-body info">
                            <button class="btn btn-outline-primary" type="button">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block" src="img/casio1.png">
                        <div class="card-body info">
                            <button class="btn btn-outline-primary" type="button">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block" src="img/candino1.png">
                        <div class="card-body info">
                            <button class="btn btn-outline-primary" type="button">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block" src="img/casio1.png">
                        <div class="card-body info">
                            <button class="btn btn-outline-primary" type="button">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block" src="img/candino1.png">
                        <div class="card-body info">
                            <button class="btn btn-outline-primary" type="button">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block" src="img/casio1.png">
                        <div class="card-body info">
                            <button class="btn btn-outline-primary" type="button">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-heading">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <<
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">>></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>